:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2C2442;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gridRow {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  font-size: 10px;
}


.date{
  border-style: ridge;
  max-width: 40px;
  min-width: 40px;
  overflow: auto;

}
.method{
  border-style: ridge;
  width: 150px;
  max-width: 50px;
  min-width: 50px;
  overflow: auto;
}
.correspondent{
  border-style: ridge;
  overflow: auto;
  max-width: 60px;
  min-width: 60px;
}
.time{
  border-style: ridge;
  max-width: 30px;
  min-width: 30px;
  overflow: auto;
}
.phase{
  border-style: ridge;
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  overflow: auto;
}
.subjectMatter{
  border-style: ridge;
  width: 140px;
  max-width: 50px;
  min-width: 50px;
  overflow: auto;
}

.reCord {
  border-style: ridge;
  margin: 15px;
  padding: 15px;
  font-size: 1rem;
}

.newFile {
  border-style: ridge;
  width: 190px;
  margin: 15px;
  padding: 10px;
  font-size:1rem;
}

.newCase {
  //border-style: ridge;
  text-align: center;
  height: 90vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newCaseBtns {
  margin: 10px;
  width: 60%;
}


.goHome {
  font-size: 0.5rem;
  margin-bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}



.input {
  border-style: ridge;
  width: 75%;
  margin-top: 15px;
  padding: 5px;
  font-size: 1rem;
}

.homePage {
  
  width: 90%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  
}

.filesDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  
}

.placeholder {
  background-color: #f0f0f0;
  color: #777777;
  padding: 10px;
  border: 1px dashed #cccccc;
  font-style: italic;
}

.findCase {
  font-size: 1rem;
  
}

.options {
  font-size: 1rem;
}

.courtAttendance {
  font-size: 1rem;
}

.personalAttendances {
  font-size: 1rem;
}

.documents {
  font-size: 1rem;
  }

  .correspondence {
    font-size: 1rem;
  }

  .telephone {
    font-size: 1rem;
  }

  .optionsButtons{
    margin: 10px;
  }

  button {
    font-size : 1rem;
    border-radius: 5px;
  }

  .option {
    margin: 15px;
  }

  input {
    font-size: 30px;
  }



.optionInput{
  margin: 10px;
  width: 60%;
  font-size: 1rem;
  padding : 2px;
}

  .findCaseOptions{
    margin: 10px;
  }
 
  .everTitle{
    font-size: 1rem;
    margin: 5px;
    color: #9B81B1;
  }